spring:
  main:
    web-application-type: none
    keep-alive: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: order-consumer-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      use-native-decoding: true
      properties:
        schema.registry.url: http://localhost:8081
        specific.avro.reader: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: http://localhost:8081


app:
  topics:
    main: orders
    retry: orders-retry
    dlq: orders-dlq